.explorer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color_gray2;
    padding: 39px 0 57px;


    &__title{
        width: 275px;
        height: 68px;
        text-align: center;
        @media screen and (min-width:769px) {
            width: 100%;
            height: 48px;
        }
    }
    &__txt {
        width: 315px;
        height: 46px;
        text-align: center;
        font-weight: 300;
        font-size: 18px;

        @media screen and (min-width:769px) {
            width: 100%;
            height: 26px;
        }
    }
}

.button{
    height: 50px;
    width: 218px;
    border-radius: 25px;
    margin-top: 25px;
    color: white;
    border: none;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    &--backgroundcolor{
        background-image: linear-gradient(to bottom , $color_secondary, $color_primary);
        
    }
    &--shadow{
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }
    &:active{
        opacity: 0.9;
        transition: 300ms ease-in-out;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.75); 
    }
    @media screen and (min-width:769px){
        &:hover{
            opacity: 0.9;
            transition: 300ms ease-in-out;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.75);
    }
    }
}