.fonctionnement {
    margin: 50px 30px 70px;
    @media screen and (min-width:1025px) {
        padding-left: 145px;
        padding-right: 145px;
        
    }
}

.boutonsconteneur{
        margin-top: 28px;
        width: calc(100% - 15px);
        margin-left: 15px;
        i{
            font-size: 16px;
        }
        @media screen and (min-width:1025px) {
            display: flex;
            align-items: center;
            gap: 36px;
            width: 95%;
        }
}

.bouton{
        height: 80px;
        width: 100%;
        min-width: 255px;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        border: none;
        color: $color_gray3;
        
            &__txt{
                font-family: 'Roboto';
            color: black;
            margin-left: 20px;
            font-size: 16px;
            font-weight: 500;
        }     
            &--radius{
                border-radius: 20px;
        }
            &--backgroundcolor{
            background-color: $color_gray2;
                
        }
            &--shadow{
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            }
            &:active{
                background-color: $color_hover1;
                color: $color_primary;
                transition: 300ms ease-in-out;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.50);                
            }
        @media screen and (min-width: 769px){
            &:hover{
                background-color: $color_hover1;
                color: $color_primary;
                transition: 300ms ease-in-out;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.50);
        }
    }
}

.rondcouleur{
    height: 24px;
    width: 24px;
    border-radius: 24px;
    position: relative;
    left: -18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;

    &--backgroundcolor{
        background-color: $color_primary;
    }
}

