.fonctionnement {
    margin: 50px 30px 70px;
}

.boutonsconteneur{
        margin-top: 28px;
        width: 100%;
}

.bouton{
        height: 80px;
        width: 100%;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        border: none;
        color: $color_gray3;
        &__txt{
            color: black;
            margin-left: 20px;
        }     
            &--radius{
                border-radius: 20px;
        }
            &--backgroundcolor{
            background-color: $color_gray2;
                
        }
            &--shadow{
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            }
            &:hover{
                background-color: $color_hover1;
                color: $color_primary;
            }
            
    }

.rondcouleur{
    height: 24px;
    width: 24px;
    border-radius: 24px;
    position: relative;
    left: -18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;


    &--backgroundcolor{
        background-color: $color_primary;
    }
}

.fa-solid{
    font-size: 20px;
}

.boutontxt{
    margin-left: 20px;
}