footer{
    background-color: $color_gray4;
    color: white;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 769px){
        flex-direction: row;
        justify-content: flex-end;
        gap: 20px;
        align-items: baseline;
    }
    a {
        color: $color_white;
    }

    h2{
        font-family: "shrikhand", "sans-serif";
        font-weight: 400;
        font-size: 18px;
        @media screen and (min-width: 769px){
            order:2;
            padding-left: 30px;
        }
    }

    p{
        padding-bottom: 7px;
        font-size: 16px;
    }
    
    i{
        margin-right: 10px;
    }    
        
    }

.space{
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 769px) {
        padding-left: 30px;
        flex-direction: row;
        gap: 20px;
    }
    

}