.restaurants{
    padding: 55px 30px 65px;
    background-color: $color_gray2;
    @media screen and (min-width:769px) {
        padding-left: 175px;
        padding-right: 175px;
    }
}

.cardsconteneur{
    width: 100%;
    margin-top: 28px;
    @media screen and (min-width: 769px){
        display : flex;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;
    }
        
    }

.card{
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: white;
    @media screen and (min-width: 769px){
        width: 49%;
    }

    &__img{
            height: 70%;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
    }

    &__contenu{
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__texte{
            padding-left: 15px;
        }
        &__icon{
            margin-right: 30px;
        }
    }

}
.fa-heart{
    font-size: 30px;
}