.restaurants{
    padding: 55px 30px 65px;
    background-color: $color_gray2;
    @media screen and (min-width:769px) {
        padding-left: 175px;
        padding-right: 175px;
    }
}

.cardsconteneur{
    width: 100%;
    margin-top: 28px;
    @media screen and (min-width: 769px){
        display : flex;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;
    }
    a{
        display: inline-block;
        width: 100%;
    }
        
    }

.card{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: white;
    &__img{
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;}
    .fa-heart:active{
        color: $color_secondary;
        -webkit-text-stroke-color: $color_secondary;
        transition: 300ms ease-in-out ;
    }
    &__contenu{

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 13px;
    }

    @media screen and (min-width: 769px){
        width: 49%;
        .fa-heart:hover{
            color: $color_secondary;
            -webkit-text-stroke-color: $color_secondary;
            transition: 300ms ease-in-out ;
    }


    
}
}