.fa-solid{
    font-size: 20px;
}

.fa-solid.fa-heart{
    font-size: 30px;
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    padding: 2px;
}

.fa-heart{
    &:active{
            -webkit-text-stroke-color: inherit;
            transition: 300ms ease-in-out ;
            background-image: linear-gradient(#9356dc, #ff79da);
            background-clip: text;
        }
    @media screen and (min-width: 769px){
        &:hover{
            -webkit-text-stroke-color: inherit;
            background-image: linear-gradient(#9356dc, #ff79da);
            background-clip: text;
            transition: 300ms ease-in-out ;
        }
    }
    }
