$color_primary: #9356DC;
$color_secondary: #FF79DA;
$color_tertiary:#99E2D0;

$color_green: #99E2D0;
$color_green_front: #008766;
$color_hover1: #F5EDFF;

$color_gray1: #EAEAEA;
$color_gray2: #F6F6F6;
$color_gray3: #7e7e7e